.title-font {
    font-size: 2.7rem;
}

html {
    box-sizing: border-box;
}

#movies-list {
    max-width: 30%;
    overflow-x: hidden;
    transition: all .2s ease-out;
    z-index: 1;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

#map {
    box-sizing: initial;
}

.movies-img {
    width: 100%;
    height: 15rem;
}

.rating-img {
    width: 5.5rem;
    height: 0.8rem;
}